<a href="https://colab.research.google.com/github/RMDircio/DS-Unit-1-Sprint-2-Statistics/blob/master/Regina%20Dircio%20DSPT5%20-%20Statistics%20Probability%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "**statistically significant" differences between political parties** in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

### Clean up the data

In [0]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


# from lecture - I know I need column_headers

column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime',
                          'duty-free','south-africa']

In [11]:
# reading in df with replaceing "?" = NaN

voting_df=pd.read_csv('house-votes-84.data', header=None, names=column_headers, na_values='?')
print(voting_df.shape)
voting_df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [12]:
# replace 'y' and 'n' with 1 and 0
# make df numeric

voting_df=voting_df.replace({'y':1, 'n':0})
voting_df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [13]:
# create a democrat subset df

democrat_df = voting_df[voting_df['party'] == 'democrat']
democrat_df.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [14]:
# create a republican subset df

republian_df = voting_df[voting_df['party'] == 'republican']
republian_df.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

### Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [15]:
# first look at 'immigration'

# % democrats who voted 'yes'(1)
# % of republicans who voted 'yes'(1) 
# mean () removes NaNs
# '{:.2f}%' = format for %


print('Democrats voted yes: ''{:.2f}%'.format(democrat_df['immigration'].mean()*100))
print('Repulicans voted yes: ''{:.2f}%'.format(republian_df['immigration'].mean()*100))

Democrats voted yes: 47.15%
Repulicans voted yes: 55.76%

In [16]:
# next check anti-satellite-ban
# % democrats who voted 'yes'(1)
# % republicans who voted yes(1)


print('Democrats voted yes: ''{:.2f}%'.format(democrat_df['anti-satellite-ban'].mean()*100))
print('Repulicans voted yes: ''{:.2f}%'.format(republian_df['anti-satellite-ban'].mean()*100))

Democrats voted yes: 77.22%
Repulicans voted yes: 24.07%

In [37]:
# Check with a ttest

print('{:,.50f}'.format(ttest_ind(republian_df['anti-satellite-ban'], democrat_df['anti-satellite-ban'], nan_policy='omit').pvalue))

0.00000000000000000000000000000085210330174438670905

In [43]:
# is p < 0.01

ttest_ind(republian_df['anti-satellite-ban'], democrat_df['anti-satellite-ban'], nan_policy='omit').pvalue < 0.01

True

### Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [38]:
# First check religous groups

# % democrats who voted 'yes'(1)
# % of republicans who voted 'yes'(1) 
# mean () removes NaNs
# '{:.2f}%' = format for %


print('Democrats voted yes: ''{:.2f}%'.format(democrat_df['religious-groups'].mean()*100))
print('Repulicans voted yes: ''{:.2f}%'.format(republian_df['religious-groups'].mean()*100))

Democrats voted yes: 47.67%
Repulicans voted yes: 89.76%

In [39]:
# Check with a ttest

print('{:,.50f}'.format(ttest_ind(republian_df['religious-groups'], democrat_df['religious-groups'], nan_policy='omit').pvalue))

0.00000000000000000002393672252059728741139638980938

In [42]:
# is p < 0.01

ttest_ind(republian_df['religious-groups'], democrat_df['religious-groups'], nan_policy='omit').pvalue < 0.01

True

### Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1

In [66]:
# first look at 'water-project'

# % democrats who voted 'yes'(1)
# % of republicans who voted 'yes'(1) 
# mean () removes NaNs
# '{:.2f}%' = format for %


print('Democrats voted yes: ''{:.2f}%'.format(democrat_df['water-project'].mean()*100))
print('Repulicans voted yes: ''{:.2f}%'.format(republian_df['water-project'].mean()*100))

Democrats voted yes: 50.21%
Repulicans voted yes: 50.68%

In [60]:
# Check with a ttest

print('{:,.50f}'.format(ttest_ind(republian_df['water-project'], democrat_df['water-project'], nan_policy='omit').pvalue))

0.92915568239934853700390249287011101841926574707031

In [61]:
# is p > 0.1

ttest_ind(republian_df['water-project'], democrat_df['water-project'], nan_policy='omit').pvalue > 0.1

True

## Streach Goals:

Check out these two for refactoring:

https://hubpages.com/technology/How-To-Refactor-Code-In-Python-A-Beginners-Guide

https://data-flair.training/blogs/python-statistics/